
			 <%  if flash[:notice] %>
					<div class = "uk-alert-success uk-alert" data-uk-alert>
						<a href="" class= "uk-alert-close uk-close"></a>
						<p><%=  flash[:notice] %></p>
					</div>
					<%  end %>
