<div class="uk-grid">
	<div id="intro_div" class="uk-width-1-1"></div>
	<div id="intro_writing">
		<p class="intro_writing"> Dairy Cairy </p>
		<button id= "product_demo" class ="uk-button uk-button-primary">What we do!</button><button id= "product_demo" class ="uk-button uk-button-success"> Start Shopping</button>
	</div>
</div>