<div class="uk-grid">
	<div id="intro_div" class="uk-width-1-1"></div>
	<div id="intro_writing">
		<p class="intro_writing"> Dairy Cairy </p>
		<button id= "product_demo" class ="uk-button uk-button-primary">What we do!</button><button id= "product_demo" class ="uk-button uk-button-success"> Start Shopping</button>
	</div>
</div>
<div id= "about_us_div" class="uk-grid" data-type= "background" data-speed="4">
		<div id="map-canvas" class="uk-width-1-3">
			<noscript> Please turn on JavaScript to view this map </noscript>
		</div>
</div>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB35jT9xNiPClIOpf2Lo40kqI447b1Jz4&sensor=false"></script>