<div class = "uk-grid">
	<div class= "uk-width-1-1">
		<p>Thank you for placing an order. You should receive an email shortly confirming your order.</p>
	</div>
	<div class= "uk-width-1-1">
		<p>Your confirmation number is <%=  @id %></p>
	</div>
</div>