

<h2>New Comment</h2>
<div id= "testing" class = "uk-form">
<%= form_for [@reviewable, Review.new] do |f| %>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
</div>